<h1>Rainforest</h1>

<%= link_to "New Product", "/products/new" %>

<% @products.each do |product| %>
  <p>Name: <%= link_to product[:name], product_path(product) %><br />
  </p> 
  <p>Description: <%= product[:description] %><br />
  </p> 
  <p>Price in cents: <%= product.formatted_price %>
   </p>
<% end %>
