<h1>Rainforest</h1>

<%= link_to "New Product", "/products/new" %>

<% @products.each do |product| %>
  <p>Name: <%= product[:name] %><br />
  </p> 
  <p>Description: <%= product[:description] %><br />
  </p> 
  <p>Price in cents: <%= product[:price_in_cents] %>
   </p>
<% end %>
